.root{
    -fx-font-family: "Segoe UI";
    -fx-background-color: #fff1f2;
}

.label{
    -fx-font-size: 14px;
}

.button{
    -fx-background-color: #ec4899;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: #db2777;
}

.text-field{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #f9a8d4;
}

.table-view{
    -fx-border-color: #f472b6;
    -fx-border-width: 2;
}